<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag "spree/frontend/slider_image1.jpg" %>
    </li>
    <li>
      <%= image_tag "spree/frontend/slider_image2.jpg" %>
    </li>
    <li>
      <%= image_tag "spree/frontend/slider_image3.jpg" %>
    </li>
  </ul>
</div>

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
